@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
        xdisplay: none !important;
    }

    .x-body .x-panel,
    .x-tip,
    .x-css-shadow,
    .print-modal .x-window-header,
    .print-modal .x-toolbar,
    .print-modal .x-window-body .x-resizable-handle,
    .print-modal .x-window-body div[src] /* there is a unclassed div that has the raw HTML as it's content which is hidden unless you make overflow visible, so hide it....*/ {
        display: none !important
    }

    .x-body,
    .print-modal,
    .print-modal .x-window-body {
        width: 670px; /* borrowed from http://stackoverflow.com/questions/320357/safe-width-in-pixel-for-printing-web-pages */
        border: none !important;
        display: block !important;
        overflow: visible !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
