@mixin thetus-tooltip(
    $thetus-label: 'thetus-default',
    $thetus-tip-width: 80px,

    // define
    $thetus-background-color: #fff,
    $thetus-background-gradient: none,

    //text
    $thetus-body-color: auto,
    $thetus-font-size: auto,
    $thetus-font-weight: normal,
    $thetus-body-text-align: center,
    $thetus-body-padding: 0px,
    $thetus-link-color: $thetus-body-color,
    $thetus-inner-body-padding: $thetus-body-padding +3,

    $thetus-header-color: $thetus-body-color,
    $thetus-header-font-size: $thetus-font-size,
    $thetus-header-font-weight: $thetus-font-weight,
    $thetus-header-padding: $thetus-body-padding,
        
    //borders,
    $thetus-border-color: #fff,
    $thetus-border-width: 0,
    $thetus-border-radius: 0,

    $thetus-inner-border-color: #fff,
    $thetus-inner-border-width: 0,
    
    //shadows,
    $thetus-body-shadow: none,
    $thetus-shadow-h-offset: 0,
    $thetus-shadow-v-offset: 0,
    $thetus-shadow-blur: 0,
    $thetus-shadow-spread: 0,
    $thetus-shadow-inset: false,
    
    //error tips
    $thetus-error-background-color: $thetus-background-color,
    $thetus-error-inner-border-color: $thetus-border-color,
    $thetus-error-inner-border-width: $thetus-border-width,
    $thetus-error-border-color:  $thetus-border-color,
    $thetus-error-border-radius: $thetus-border-radius,
    $thetus-error-border-width: $thetus-border-width,
    $thetus-error-body-padding: $thetus-body-padding,
    $thetus-error-body-color: $thetus-body-color,
    $thetus-error-body-font-size: $thetus-font-size,
    $thetus-error-body-font-weight: $thetus-font-weight,
    $thetus-error-body-link-color: $thetus-link-color,
    
    $thetus-tool-spacing: 0,
    $thetus-tool-background-image: none
){
    @include extjs-tip-ui(
        $ui-label: $thetus-label,
        $ui-border-color: $thetus-border-color,
        $ui-border-width: $thetus-border-width,
        $ui-border-radius: $thetus-border-radius,
        $ui-background-color: $thetus-background-color,
        $ui-background-gradient: $thetus-background-gradient,

        $ui-tool-spacing: $thetus-tool-spacing,
        $ui-tool-background-image: $thetus-tool-background-image,
        $ui-header-body-padding: $thetus-header-padding,
        $ui-header-color: $thetus-header-color,
        $ui-header-font-size: $thetus-header-font-size,
        $ui-header-font-weight: $thetus-header-font-weight,
        $ui-body-padding: $thetus-body-padding,
        $ui-body-color: $thetus-body-color,
        $ui-body-font-size: $thetus-font-size,
        $ui-body-font-weight: $thetus-font-weight,
        $ui-body-link-color: $thetus-link-color,

        $ui-inner-border-width: $thetus-inner-border-width,
        $ui-inner-border-color: $thetus-inner-border-width
    );


    // New Thetus Mixin Code
    .#{$prefix}tip-#{$thetus-label} { 
        width: $thetus-tip-width !important;
        padding: $thetus-body-padding;
        @if $thetus-body-shadow != null OR $thetus-body-shadow != 'none' {
            @include single-box-shadow($thetus-body-shadow, $thetus-shadow-h-offset, $thetus-shadow-v-offset, $thetus-shadow-blur, $thetus-shadow-spread, $thetus-shadow-inset);
        }
    }
    .#{$prefix}tip-body-#{$thetus-label} { 
        padding: $thetus-inner-body-padding;
        min-width: $thetus-tip-width !important; 
        text-align: $thetus-body-text-align;
    }
}