/*
 *  Private Variables
 */
$js-ui: 'flat-toolbar-button';
$ui-suffix: '-toolbar-small';
$background-gradient-active: #959698, #e2e2e3;

/*
 *  Logic
 */
@include extjs-button-ui(
	$ui: $js-ui + $ui-suffix,

    $border-radius: 0px,
    $border-width: 1px,

    $border-color: transparent,
    $border-color-over: $gray-border,
    $border-color-focus: $gray-border,
    $border-color-pressed: $gray-border,
    $border-color-disabled: $gray-border,
    
	$background-color: transparent,
    $background-color-over: transparent,
    $background-color-focus: transparent,

    // Needs to be set to a color for the gradient below to work. Sorry.
    $background-color-pressed: #fff,
    $background-color-disabled: transparent,

    $background-gradient-pressed: $background-gradient-active,

    $padding: 3px,

	$color: $gray-font,
    $color-over: $thetus-blue,
    $color-focus: $thetus-blue,
    $color-pressed: $gray-font,
    $color-disabled: $thetus-blue,

    $font-size: 11px,
    $font-family: $Open-Sans-Normal,
    $font-family-over: $Open-Sans-Normal,
    $font-family-pressed: $Open-Sans-Normal !important,
    
    $icon-size: 17px,
    $glyph-color: #333,
    $include-ui-menu-arrows: false
);

/*
 *  Runtime
 */
.#{$prefix + 'btn-' + $js-ui + $ui-suffix}{

    // For split buttons since they need extra right-padding for icon
    .#{$prefix}btn-arrow-right {
        padding-right: 12px;
    }
}