/*
 *	Private Variables
 */
$greyGradient: #636465, #3e3d3f;

/*
 *	Imports
 */
@import 'FlatToolbarButton.scss';

/*
 *	Runtimes
 */
@include extjs-toolbar-ui(
	$ui: 'link-toolbar',
	$background-color: null,
	$background-gradient: $greyGradient,
	$border-color: #878787,
	$border-width: 1px 0 0 0
);