/*
 *	Styles the sliders inside of Leaflet.js
 *
 *	@author jgriffith
 *	@edits astump 8/13/2013
 */

/*
 *	@private variables
 */
$zoom-slider-background: rgba(122,122,122, 0.6);
$zoom-slider-radius: 12px;
$zoom-slider-color: #fff;
$zoom-slider-slider-color: #333;
$zoom-slider-track-color: $zoom-slider-slider-color;
$zoom-slider-track-width: 1px;
$zoom-slider-button-margin: 1px;
$zoom-slider-button-border-width: 0 1px;
$zoom-slider-button-border-color: #333;
$zoom-slider-button-border-style: solid;
$zoom-slider-width: 22px;
$zoom-slider-font-size: 20px;

/*
 *	@runtime
 *
 * 	Since we're overwriting current styles nesting 
 * 	is determined by how the source stylesheet is nested
 */
.leaflet-container {

	.leaflet-control-zoomslider {
		box-shadow: none;
		
		.leaflet-control-zoomslider-in, .leaflet-control-zoomslider-out{
			font-family: $Open-Sans-Bold;
			font-size: $zoom-slider-font-size;
			font-weight: normal;
		}

		a{ width: $zoom-slider-width;}
		// Plus and Minus Buttons
		a:first-child, a:last-child {
			background: $zoom-slider-background;
			color: $zoom-slider-color;
			&:hover{
				color: darken($zoom-slider-color, 90%);
			}		
		}
		a:first-child {
			border-top-left-radius: $zoom-slider-radius;
			border-top-right-radius: $zoom-slider-radius;
			border-width: 1px 1px 0px 1px;
			border-style: $zoom-slider-button-border-style;
			border-color: $zoom-slider-button-border-color;
			border-bottom-width: 0;

		}
		a:last-child {
			border-bottom-left-radius: $zoom-slider-radius;
			border-bottom-right-radius: $zoom-slider-radius;
			border-width: 0 1px 1.5px 1px;
			border-style: $zoom-slider-button-border-style;
			border-color: $zoom-slider-button-border-color;
		}

		// The sliding "pipe"
		.leaflet-control-zoomslider-wrap,
		.leaflet-control-zoomslider-body {
			background: $zoom-slider-background;
			color: $zoom-slider-color;	
			border-width: $zoom-slider-button-border-width;
			border-style: $zoom-slider-button-border-style;
			border-color: $zoom-slider-button-border-color;
		}

		// The knob "track"
		.leaflet-control-zoomslider-body {
			background-color: $zoom-slider-track-color;
			width: $zoom-slider-track-width;
			border: none;
		}

		// The knob
		.leaflet-control-zoomslider-knob {
			background-color: $zoom-slider-color;
			width: 12px;
			height: 12px;
			border-radius: 10px;
			border-color: #999999;
			border-size: 1px;
		}
	}
	.leaflet-bar{

		a, a:hover{
			border-bottom: none;
		}
	}
}