/*
 *	TCIL Search
 *	This Component.scss file is, for better or worse, the "entry" point for including
 *	custom.scss files. Since Component.scss is rather generic, it won't breach any
 *	semantic naming conventions. If you add some custom CSS (EG, Baby-gate), please
 *	create a semantically named file for what you are doing and include it here so it will
 *	be compiled with others. Let's keep it clean!
 *
 *	@author jgriffith, astump
 */

/*
 *	@includes
 */
@import 'all';

/*
 *	@variables
 */
 // Base color to white so we're not overwriting a bunch of color code
$base-color: #fff;

// This is for NORMAL, each weight has it's own FF!s
$font-family: 'OpenSansRegular';
$color: #333;
$form-label-font-family: $Open-Sans-Bold;

// Global CSS Configs
$prefix: 'x-';
$include-rtl: false;