/*
 *	Default button (UIKit light gray button)
 */

// Default state
$button-small-border-radius: 4px;
$button-default-background-gradient: #ffffff, #e6e6e6;
$button-default-border-color: #f2f2f2;
$button-default-color: #333;

// :hover
$button-default-background-gradient-over: #ffffff, #f2f2f2;
$button-default-border-color-over: #f2f2f2;

// :active
$button-default-background-gradient-pressed: #e6e6e6, #fefefe;
$button-default-border-color-pressed: #999;

// What the abstraction doesn't afford us
.#{$prefix}btn-default-small {
	border-top-color: #f2f2f2 !important;
	border-bottom-color: #666 !important;
	border-left-color: #d5d5d5 !important;
	border-right-color: #d5d5d5 !important;
	
	// This is pulled from var/Search/Colors.scss
	@include single-box-shadow( $button-default-shadow );
}
.#{$prefix}btn-default-small-pressed {
	border-top-color: #666 !important;
	border-bottom-color: #f2f2f2 !important;
	border-left: none !important;
	border-right: none !important;
}