/*
 *	Responsible for globally styling text inputs (input[type=text])
 *
 *	@author jgriffith
 */

/*
 *	@variables
 */
// Default
$form-field-background-color: #fff;
$form-field-border-color: #999;
$form-field-color: #333;

// :focus
$form-field-focus-border-color: #0073ae;

// :error
$form-field-invalid-border-color: #c7313f;
