<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Savanna 4 Unit Test Chooser</title>
</head>
<body>
	<main>
		<h1>Savanna 4 Unit Test Choose</h1>
		<p>Select a test to run, or select to run all tests</p>
		<form action="test/SpecRunner.html">
			<select name="test" id="test">
				<option value="all">Run all tests</option>
				<% for (var test in tests) { %>
					<option value="<%= tests[test] %>"><%= tests[test] %></option>
				<% } %>
			</select>
			<input type="submit" value="Go">
		</form>
	</main>
</body>
</html>