/*
 *	Styles the Advanced Search Panel (one-off)
 *
 *	@author jgriffith
 */

/*
 *	@runtime
 */
.#{$prefix}panel.advanced-search-panel {
	padding: 10px 20px;
	overflow: visible;
	@include background(linear-gradient(#FFF, #F7F7F7));
	background-color: #fff;
	border: none;

	// Since we've set the gradient on the parent, overwrite the child bg color.
	.#{$prefix}panel-body-default {
		background: transparent;
	}

	// Right-align the labels
	.#{$prefix}form-item-label {
		text-align: right;
	}

	// Float the 'close' button to the righ
	.#{$prefix}btn.#{$prefix}btn-link-toolbar-small {
		float: right;
		font-size: 12px;
	}

	// Minor element-based layout tweaks
	td {
		padding-bottom: 10px;
	}

	// Textual instruction that appear at the top
	.instructions {
		margin-top: 0;
	}
	.instructions.italic {
		font-style: italic;
		margin: 0 0 15px;
	}
}