// Since some UI is set to full width and others are not, we have to 
// explicitly set padding on elements that need it, so siblings can be
// 100% width.

/*
 *	@private variables
 */ 
$dal-panel-padding: 20px;
$dal-hover-background-color: #ebf1f4;
$dal-panel-spacing: 25px;
$dal-panel-padding-text: $dal-panel-padding + 90px;

/*
 *	@runtime CSS
 */
.search-dal {
	.search-sources-toolbar {
		margin-bottom: 15px;
		padding: 0 $dal-panel-padding 0;
	}

	// Ext JS uses this element to calculate the filter bar's height
	// To that end, margin acts almost as a height "buffer"
	// Act accordingly!
	.dal-checkbox {
		margin: $dal-panel-spacing 0 $dal-panel-spacing;
		position: relative;
		left: $dal-panel-padding;
		font-family: $Open-Sans-Bold;
	}
	.dal-label {
		color: $gray-font;
		position: absolute;
		white-space: nowrap;
		text-overflow: ellipsis;
		left: 210px;
		top: $dal-panel-spacing + 1;
	}
	.dal-toggle {
		position: absolute;
		right: $dal-panel-padding;
		top: $dal-panel-spacing - 1;
		min-width: 127px;

		@include box-shadow(
			$button-default-shadow,
			$element-hover
		);
	}
	.dal-text {
		position: absolute;
		right: $dal-panel-padding-text;
		top: $dal-panel-spacing + 25px;
		background-color: transparent;
		border: none;
		background: transparent;

		.#{$prefix}btn-inner{
			color: #4598c4;
		}
	}
	.#{$prefix}container{ margin-top: 15px; }
}
.#{$prefix}box-item.search-dal {
 	padding: 0;
 	border-top: 1px solid $gray-border;

 	&:hover {
 		background-color: $dal-hover-background-color;

 		.dal-toggle {

 			// Changes the 'collision' shadow since the BG is different
			@include box-shadow(
				$button-default-shadow,
				$dal-hover-background-color 10px 0 20px 20px
			);
 		}
 	}
}
.#{$prefix}tabpanel-child.search-dal {
	padding: 10px 0 10px; 
}