@mixin search-prime(
    $class: 'search-prime',
    $panel-main-background: transparent,
    $panel-main-padding: 0px,
    $panel-background: transparent,
    $panel-border: none,
    $input-padding: 0px,
    $input-background: transparent,
    $input-font-family: auto,
    $input-border: none,
    $button-font-family: auto,
    $button-font-size: 12px,
    $button-color: #000,
    $button-padding: 0px,
    $button-border-radius: 0px,
    $button-background-gradient: linear-gradient(to top, #cfcece 0%, #ededed 30%),
    $button-border: none,
    $button-margin: 0px,
    $button-link-border: none,
    $button-link-padding: auto,
    $button-link-background: transparent,
    $button-link-text-decoration: none,
    $button-link-hover-text-decoration: underline,
    $button-link-color: #fff,
    $button-link-color-hover: #fff,
    $input-height: 32px
    ){
     
    .#{$class}{
        background: $panel-main-background;
        padding: $panel-main-padding;
 
        .#{$prefix}panel-body-default{
            background: $panel-background;
            border: $panel-border;
            
            .#{$prefix}toolbar-default{
                @extend .#{$prefix}panel-body-default;
            }
            .#{$prefix}form-item{
                height: $input-height;
                .#{$prefix}form-text{
                    background: $input-background;
                    padding:  $input-padding;
                    font-family: $input-font-family;
                    border: $input-border;
                    height: $input-height;
                }
            }
            .#{$prefix}btn-default-toolbar-small{
                background: $button-link-background;
                border: $button-link-border;
                border-radius: $button-border-radius;
                
                .#{$prefix}btn-button{
                    height: 18px;
                    padding: 1px;
                }
                .#{$prefix}btn-inner{
                    color: $button-link-color;
                    text-decoration: $button-link-text-decoration;
                }
                &.#{$prefix}btn-default-toolbar-small-icon{
                    background: $button-background-gradient;
                    border: $button-border;
                    padding: $button-padding;
                    margin: $button-margin;

                    
                    .#{$prefix}btn-inner{
                        color: $button-color;
                        padding: $button-padding;
                        font-family: $button-font-family;

                    }
                    .#{$prefix}btn-glyph{ 
                        color: $button-color; 
                        font-size: 18px;
                        padding: 1px;
                        opacity: 1;
                    }
                }
                &:hover{
                    .#{$prefix}btn-inner{
                        text-decoration: $button-link-hover-text-decoration;
                        color: $button-link-color-hover;
                    }
                }
            }

            .#{$prefix}panel-default{
                @extend .#{$prefix}panel-body-default;
                .#{$prefix}btn-default-small{
                    @extend .#{$prefix}btn-default-toolbar-small;
                }
            }
            
        }
         
    }
}