/*
 *	System Wide, common colors
 */
$thetus-blue: #0073ae;
$gray-border: #ccc;
$gray-font: #333;
$item-hover: #ebf1f4;

// Common Shadow properties
$button-default-shadow: rgba(50, 50, 50, 0.5) 0px 2px 3px;
$element-hover: white 10px 0 25px 25px;