// Font-face families
@font-face {
font-family: 'OpenSansRegular';
    src: url("fonts/opensans-regular-webfont.eot");
    src: url("fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/opensans-regular-webfont.woff") format("woff"),
         url("fonts/opensans-regular-webfont.ttf") format("truetype"),
         url("fonts/opensans-regular-webfont.svg#OpenSansRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansLight';
    src: url("fonts/opensans-light-webfont.eot");
    src: url("fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/opensans-light-webfont.woff") format("woff"),
         url("fonts/opensans-light-webfont.ttf") format("truetype"),
         url("fonts/opensans-light-webfont.svg#OpenSansLight") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansBold';
    src: url("fonts/opensans-bold-webfont.eot");
    src: url("fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/opensans-bold-webfont.woff") format("woff"),
         url("fonts/opensans-bold-webfont.ttf") format("truetype"),
         url("fonts/opensans-bold-webfont.svg#OpenSansBold") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansItalic';
    src: url("fonts/opensans-italic-webfont.eot");
    src: url("fonts/opensans-italic-webfont.eot?#iefix") format("embedded-opentype"),
         url("fonts/opensans-italic-webfont.woff") format("woff"),
         url("fonts/opensans-italic-webfont.ttf") format("truetype"),
         url("fonts/opensans-italic-webfont.svg#OpenSansItalic") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: "SickFont";
  src: url("fonts/sick-font.eot");
  src: url("fonts/sick-font.eot?#iefix") format("embedded-opentype"),
       url("fonts/sick-font.woff") format("woff"),
       url("fonts/sick-font.ttf") format("truetype"),
       url("fonts/sick-font.svg#sick-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

// Common Variable usages
$Open-Sans-Normal: 'OpenSansRegular', OpenSansRegular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$Open-Sans-Bold: 'OpenSansBold', OpenSansBold, 'OpenSansRegular','Helvetica Neue', Helvetica, Arial, sans-serif;

$h1_openContent_size: 20px;
$h1_openContent_font: 'OpenSansBold', OpenSansBold, 'OpenSansRegular','Helvetica Neue', Helvetica, Arial, sans-serif;

$h2_openContent_size: 14px;
$h2_openContent_font: 'OpenSansBold', OpenSansBold, 'OpenSansRegular','Helvetica Neue', Helvetica, Arial, sans-serif;

$h3_openContent_size: 12px;
$h3_openContent_font: 'OpenSansBold', OpenSansBold, 'OpenSansRegular','Helvetica Neue', Helvetica, Arial, sans-serif;

$body_openContent_size: 12px;
$body_openContent_font: 'OpenSansRegular', OpenSansRegular, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$caption_openContent_size: 10px;
$caption_openContent_font: 'OpenSansRegular', OpenSansRegular, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$h1_closedContent_size: 20px;
$h1_closedContent_font: 'OpenSansBold', OpenSansBold, 'OpenSansRegular','Helvetica Neue', Helvetica, Arial, sans-serif;

$h2_closedContent_size: 13px;
$h2_closedContent_font: 'OpenSansBold', OpenSansBold, 'OpenSansRegular','Helvetica Neue', Helvetica, Arial, sans-serif;

$h3_closedContent_size: 10px;
$h3_closedContent_font: 'OpenSansBold', OpenSansBold, 'OpenSansRegular','Helvetica Neue', Helvetica, Arial, sans-serif;

$body_closedContent_size: 10px;
$body_closedContent_font: 'OpenSansRegular', OpenSansRegular, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$caption_closedContent_size: 8px;
$caption_closedContent_font: 'OpenSansRegular', OpenSansRegular, 'Helvetica Neue', Helvetica, Arial, sans-serif;